/// Main Colors
$clr-primary: hsl(238, 40%, 52%); // Moderate Blue
$clr-secondary: hsl(358, 79%, 66%); // Soft Red
$clr-tertiary: hsl(239, 57%, 85%); // Light grayish blue
$clr-accent: hsl(357, 100%, 86%);

/// Neutral Colors
$neutral-1: hsl(212, 24%, 26%); // Dark Blue
$neutral-2: hsl(211, 10%, 45%); // Grayish Blue
$neutral-3: hsl(223, 19%, 93%); // Light Gray
$neutral-4: hsl(228, 33%, 97%); // very light gray
$neutral-5: hsl(0, 0%, 100%); // white

/// Font Stack
$font-family: 'Rubik', sans-serif;

*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/// Global Styles
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: $font-family;
    font-size: clamp(0.75rem, 2vw, 1rem);
    background-color: rgb(134, 74, 74);
    align-items: center;
    height: 100vh;
    color: $neutral-2;
}

.container {
    grid-column: 1 / span 4;
    padding: 1rem;
    width: min(100vw, 768px);
    min-width: 300px;
    margin: 0 auto;

    .__comment,
    .new-comment {
        background-color: $neutral-5;
        padding: 0.5rem 1rem;
        margin: 1rem 0;
        border-radius: 10px;
    }

    .__comment {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        column-gap: 0.55rem;
    }

    .__comment__command {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
    }

    button {
        color: $clr-primary;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .comment-reply {
        border-left: 2px solid $neutral-3;
        .__comment {
            width: calc(100% - 7%);
            margin-left: auto;
        }
    }

    img {
        width: 2rem;
        height: 2rem;
    }

    .reply-box {
        position: fixed;
        bottom: 0;
        width: 100vw;
        margin: 0 -1rem;
        border-radius: 10px 10px 0 0;
        width: min(100vw,768px);
        min-width: 300px;
    }
}

.comments {

    .__comment__info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        grid-column: 1 / span 4;
    }

    .__comment__username {
        font-weight: bolder;
        color: black;
    }

    .__comment__content {
        font-weight: 400;
        line-height: 1.5rem;
        grid-column: 1 / span 4;
    }

    .__command__vote--btn {
        background-color: $neutral-4;
        padding: 0.5rem 0.25rem;
        border-radius: 10px;
        width: 6rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        .vote--btn {
            margin: 0 0.5rem;
            color: $clr-tertiary;
        }
    }

    .vote-count,
    .__command__reply--btn {
        font-weight: bolder;
        color: $clr-primary;
    }

    .__command__reply--btn {
        grid-column: 2 / span 3;
        text-align: right;
    }
}

.new-comment {

    .__add-comment__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 0.55rem;
    }

    .__add-comment__text-box {
        width: 100%;
        resize: none;
        height: 6rem;
        border-radius: 5px;
        border: 2px solid $neutral-4;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-family: $font-family;
        color: $neutral-1;
        font-size: clamp(0.75rem, 2vw, 1rem);
        grid-column: 1 / span 4;
    }

    .__add-comment__text-box:focus-visible {
        outline: none;
        border: 1px solid $clr-primary;
    }

    .submit--btn {
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        color: $neutral-4;
        background-color: $clr-primary;
        font-weight: 700;
        border-radius: 7px;
        grid-column: 3 / span 2;
        width: min(80%, 5rem);
        margin-left: auto;
    }
    
}

@media (min-width: 769px) {
    .container {
        .__comment {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .__command__reply--btn {
            grid-column: 10 / span 3;
            grid-row: 1 / span 1;
        }

        .__comment__info {
            grid-column: 2 / span 5;
        }

        .__comment__content {
            grid-column: 2 / span 11;
        }

        .__command__vote--btn {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 2.5rem;
            margin: 0 auto;
            align-items: center;
            justify-content: space-around;
        }

        .__add-comment__container {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
            justify-content: center;

            .current-user__avatar-container {
                grid-column: 1 / span 1;
                grid-row: 1;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            .__add-comment__text-box {
                grid-column: 2 / span 9 ;
            }

            .submit--btn {
                grid-column: 11 / span 2;
                height: 2rem;
                width: 90%;
            }
        }

        
    }
}
